@charset "utf-8"
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap')

$sans-primary: 'Lato', serif
$sans-secondary: 'Raleway', serif

$light: #E8F1F2

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-image: linear-gradient(to right bottom, #1d3557, #273a5f, #314066, #3b456e, #454b75)
    background-repeat: no-repeat
    height: 100vh
    font-family: $sans-secondary
    

h1, h2, h3, h4, h5, h6
    font-family: $sans-primary

.container
    display: grid
    grid-template-columns: auto auto auto auto

nav
    display: flex
    align-items: center
    justify-content: space-between
    min-height: 8vh
    grid-column-start: 2 
    grid-column-end: 4
    grid-row-start: 1
    grid-row-end: 1 

.logo
    color: $light
    text-transform: uppercase
    font-size: 1.4rem
    font-family: $sans-secondary

.nav-links
    display: flex
    width: 40%
    justify-content: space-around
    li
        list-style: none
        margin-left: 25px
        padding: 5px
        border-bottom: 2px solid transparent
        transition: all .3s ease
        &:hover
            border-bottom: 2px solid $light
    a
        color: $light
        text-decoration: none
        font-size: 1.2rem
.burger
    display: none
    div
        width: 25px
        height: 2px
        border: none
        border-radius: 20%
        background-color: white
        margin: 5px
        transition: .25s ease-in-out
        transform: rotate(0deg)
.landing
    grid-row-start: 2
    grid-column-start: 2
    grid-column-end: 4
    text-align: center

@media screen and ( max-width:  1024px)
    .nav-links
        width: 60%
    

@media screen and ( max-width:  768px)
    html, body
        overflow-x: hidden
        overflow-y: scroll !important
        position: relative
    .nav-links
        position: fixed
        right: auto
        height: 80vh
        border-radius: 15px
        top: 8vh
        background-image: linear-gradient(to bottom, #454b75, #4f517c, #5a5684, #655c8b, #706192)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 75%
        transform: translateX(150%)
        transition: transform  0.5s ease
        border: none
        li
            opacity: 0
            margin: 1em
             
    .burger
        display: block
        cursor: pointer

    
    .nav-active
            transform: translateX(0%)
    
    
@keyframes navLinkFade
    from
        opacity: 0
        transform: translateX(50px)
    to
        opacity: 1
        transform: translateX(0px)

.toggle .line1
    transform: rotate(45deg) translate(5px, 5px)
.toggle .line2
    opacity: 0
.toggle .line3
    transform: rotate(-45deg) translate(5px, -5px)