@charset "utf-8"
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap')

$sans-primary: 'Lato', sans-serif
$sans-secondary: 'Raleway', sans-serif

$light: #FFF
$dark: #444
$light-grey: #666
$deepblue: #82AAFF
$blueish: #7196CF
$bluegrey: #676E95

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: $sans-secondary
    overflow-x: hidden
    
h1, h2, h3, h4, h5, h6
    font-family: $sans-primary

.container
    display: grid
    grid-template-columns: 25% 25% 25% 25%
    grid-template-rows: auto auto auto auto auto

header
    grid-column-start: 1
    grid-column-end: 5
    grid-row-start: 1
    grid-row-end: 1
    margin-top: 0
    background-image: url('../img/header.svg')
    height: 100vh
    background-size: cover
    background-repeat: no-repeat
    background-position: center -50px
    padding: 1em
    display: grid
    grid-template-columns: auto auto auto
    grid-template-rows: 8vh auto auto
nav
    display: flex
    align-items: center
    justify-content: space-around
    min-height: 8vh
    grid-column-start: 1
    grid-column-end: 4
    grid-row-start: 1
    grid-row-end: 1

.logo
    color: $light
    font-size: 1.4rem
    font-family: $sans-secondary
    font-weight: lighter
    h4
        span
            float: right
.nav-links
    display: flex
    width: 40%
    justify-content: flex-end
    li
        list-style: none
        padding: 5px
        margin-left: 15px
        border-bottom: 2px solid transparent
        transition: all .3s ease
        &:hover
            border-bottom: 2px solid $light
        &.active
            border-bottom: 2px solid $light
    a
        color: $light
        text-decoration: none
        font-size: 1.2rem
.burger
    display: none
    div
        width: 25px
        height: 2px
        border: none
        border-radius: 20%
        background-color: white
        margin: 5px
        transition: .25s ease-in-out
        transform: rotate(0deg)

.landing
    color: $light
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 2
    grid-row-end: 2
    padding: 15% 22.5%
    display: grid
    grid-template-columns: auto auto
    grid-template-rows: 35% auto auto
    h1
        grid-column-start: 1
        grid-column-end: 2
        grid-row-start: 1
        grid-row-end: 1
        font-size: 2.5em
    p
        grid-column-start: 1
        grid-column-end: 1
        grid-row-start: 2
        grid-row-end: 2
        font-size: 1.2em

    .media-links
        grid-column-start: 1
        grid-column-end: 1
        grid-row-start: 3
        grid-row-end: 3
        font-size: 2em
        a
            text-decoration: none
            color: $deepblue
.work
    color: $dark
    grid-column-start: 1
    grid-column-end: 5
    grid-row-start: 2
    grid-row-end: 2
    display: flex
    flex-direction: column
    flex-wrap: wrap
    .work-title
        text-align: center
        justify-self: center
        width: 100%
        h1
            font-size: 2.25rem02071902400832778
        p
            margin: 1em auto
            color: $light-grey
            width: 30%
    .boxes
        display: flex
        justify-content: center
        align-items: center
        .box
            margin: 2em
            display: flex
            flex-direction: column
            font-size: 1.25em
            
            h3
                text-align: center
                margin: 1em
            span
                height: 5px
                width: 50%
                border: none
                border-radius: 10px
                background-color: #676E95
                margin: 10px 0
.skills
    color: $light
    grid-column-start: 1
    grid-column-end: 5
    grid-row-start: 3
    grid-row-end: 3
    display: flex
    flex-direction: column
    background-image: linear-gradient(to right bottom, #6cb8fb, #71a4e1, #7191c8, #6d7fae, #676e95)
    padding: 3em 2em
    .skills-title
        text-align: center
        justify-self: center
        width: 100%
        h1
            font-size: 2.25rem
        p
            margin: 1em auto
            width: 30%
    .cards
        color: $dark
        display: flex
        justify-content: center
        .card
            width: 350px
            height: 450px
            background-color: white
            margin: 30px
            border-radius: 15px
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2)
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            img
                margin: 0 autopurpish
            h4
                margin: .75em 0
                color: $blueish
.projects
    color: $dark
    grid-column-start: 1
    grid-column-end: 5
    grid-row-start: 4
    grid-row-end: 4
    display: flex
    flex-direction: column
    padding: 3em 2em
    .projects-title
        text-align: center
        justify-self: center
        width: 100%
        h1
            font-size: 2.25rem
        p
            margin: 1em auto
            width: 30%
    .cards
        display: flex
        justify-content: center
        color: $light
        .card
            width: 350px
            height: 450px
            background-image: linear-gradient(to top left, #6cb8fb, #71a4e1, #7191c8, #6d7fae, #676e95)
            margin: 30px
            border-radius: 15px
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2)
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            padding: 2em
            img
                margin: 2em auto
            p
                text-align: justify
                margin-bottom: 1em
            a
                background-color: $bluegrey
                color: $light
                text-decoration: none
                width: 120px
                height: 40px
                text-align: center
                line-height: 250%
                border-radius: 25px
                box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.2)
    .pages
        display: flex
        justify-content: center
        color: $light
        .page
            width: 500px
            height: 350px
            background-image: linear-gradient(to top left, #6cb8fb, #71a4e1, #7191c8, #6d7fae, #676e95)
            margin: 30px
            border-radius: 15px
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2)
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            padding: 1em
            img
                margin: 2em auto
            a
                background-color: $bluegrey
                color: $light
                text-decoration: none
                width: 120px
                height: 40px
                text-align: center
                line-height: 250%
                border-radius: 25px
                box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.2)
    .apps
        display: flex
        justify-content: center
        color: $light
        .app
            width: 350px
            height: 650px
            background-image: linear-gradient(to top left, #6cb8fb, #71a4e1, #7191c8, #6d7fae, #676e95)
            margin: 30px
            border-radius: 15px
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2)
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            padding: 1em
            img
                margin: 2em auto
            a
                background-color: $bluegrey
                color: $light
                text-decoration: none
                width: 120px
                height: 40px
                text-align: center
                line-height: 250%
                border-radius: 25px
                box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.2)

@media screen and ( max-width:  1024px)
    .nav-links
        width: 60%
    

@media screen and ( max-width:  768px)
    html, body
        overflow-x: hidden
        overflow-y: scroll !important
        position: relative
    .nav-links
        grid-column-start: 2
        grid-column-end: 5
        position: fixed
        margin: 0 auto
        height: 60vh
        border-radius: 15px
        top: 20vh
        background-image: linear-gradient(to bottom, #454b75, #4f517c, #5a5684, #655c8b, #706192)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 75%
        transform: translateX(150%)
        transition: transform  0.5s ease
        border: none
        li
            opacity: 0
            margin: 1em
             
    .burger
        display: block
        cursor: pointer
    
    .boxes
        flex-wrap: wrap

    .cards
        flex-wrap: wrap

    
    .nav-active
            transform: translateX(0%)
@media screen and ( max-width:  425px)
    .landing
        display: block
        text-align: left
        padding: 25% 5%
        p
            margin-top: 15%    
@keyframes navLinkFade
    from
        opacity: 0
        transform: translateX(50px)
    to
        opacity: 1
        transform: translateX(0px)

.toggle .line1
    transform: rotate(45deg) translate(5px, 5px)
.toggle .line2
    opacity: 0
.toggle .line3
    transform: rotate(-45deg) translate(5px, -5px)

    