@import url("https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
}

header {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 0;
  background-image: url("../img/header.svg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -50px;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 8vh auto auto;
      grid-template-rows: 8vh auto auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 8vh;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
}

.logo {
  color: #FFF;
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}

.logo h4 span {
  float: right;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-links li {
  list-style: none;
  padding: 5px;
  margin-left: 15px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav-links li:hover {
  border-bottom: 2px solid #FFF;
}

.nav-links li.active {
  border-bottom: 2px solid #FFF;
}

.nav-links a {
  color: #FFF;
  text-decoration: none;
  font-size: 1.2rem;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  border: none;
  border-radius: 20%;
  background-color: white;
  margin: 5px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.landing {
  color: #FFF;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  padding: 15% 22.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 35% auto auto;
      grid-template-rows: 35% auto auto;
}

.landing h1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  font-size: 2.5em;
}

.landing p {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  font-size: 1.2em;
}

.landing .media-links {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  font-size: 2em;
}

.landing .media-links a {
  text-decoration: none;
  color: #82AAFF;
}

.work {
  color: #444;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work .work-title {
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
}

.work .work-title h1 {
  font-size: 2.25rem;
}

.work .work-title p {
  margin: 1em auto;
  color: #666;
  width: 30%;
}

.work .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .boxes .box {
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.25em;
}

.work .boxes .box h3 {
  text-align: center;
  margin: 1em;
}

.work .boxes .box span {
  height: 5px;
  width: 50%;
  border: none;
  border-radius: 10px;
  background-color: #676E95;
  margin: 10px 0;
}

.skills {
  color: #FFF;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#6cb8fb), color-stop(#71a4e1), color-stop(#7191c8), color-stop(#6d7fae), to(#676e95));
  background-image: linear-gradient(to right bottom, #6cb8fb, #71a4e1, #7191c8, #6d7fae, #676e95);
  padding: 3em 2em;
}

.skills .skills-title {
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
}

.skills .skills-title h1 {
  font-size: 2.25rem;
}

.skills .skills-title p {
  margin: 1em auto;
  width: 30%;
}

.skills .cards {
  color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .cards .card {
  width: 350px;
  height: 450px;
  background-color: white;
  margin: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills .cards .card img {
  margin: 0 autopurpish;
}

.skills .cards .card h4 {
  margin: .75em 0;
  color: #7196CF;
}

.projects {
  color: #444;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3em 2em;
}

.projects .projects-title {
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
}

.projects .projects-title h1 {
  font-size: 2.25rem;
}

.projects .projects-title p {
  margin: 1em auto;
  width: 30%;
}

.projects .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
}

.projects .cards .card {
  width: 350px;
  height: 450px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#6cb8fb), color-stop(#71a4e1), color-stop(#7191c8), color-stop(#6d7fae), to(#676e95));
  background-image: linear-gradient(to top left, #6cb8fb, #71a4e1, #7191c8, #6d7fae, #676e95);
  margin: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
}

.projects .cards .card img {
  margin: 2em auto;
}

.projects .cards .card p {
  text-align: justify;
  margin-bottom: 1em;
}

.projects .cards .card a {
  background-color: #676E95;
  color: #FFF;
  text-decoration: none;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 250%;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.2);
}

.projects .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
}

.projects .pages .page {
  width: 500px;
  height: 350px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#6cb8fb), color-stop(#71a4e1), color-stop(#7191c8), color-stop(#6d7fae), to(#676e95));
  background-image: linear-gradient(to top left, #6cb8fb, #71a4e1, #7191c8, #6d7fae, #676e95);
  margin: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.projects .pages .page img {
  margin: 2em auto;
}

.projects .pages .page a {
  background-color: #676E95;
  color: #FFF;
  text-decoration: none;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 250%;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.2);
}

.projects .apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
}

.projects .apps .app {
  width: 350px;
  height: 650px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#6cb8fb), color-stop(#71a4e1), color-stop(#7191c8), color-stop(#6d7fae), to(#676e95));
  background-image: linear-gradient(to top left, #6cb8fb, #71a4e1, #7191c8, #6d7fae, #676e95);
  margin: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.projects .apps .app img {
  margin: 2em auto;
}

.projects .apps .app a {
  background-color: #676E95;
  color: #FFF;
  text-decoration: none;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 250%;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.2);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
    overflow-y: scroll !important;
    position: relative;
  }
  .nav-links {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 5;
    position: fixed;
    margin: 0 auto;
    height: 60vh;
    border-radius: 15px;
    top: 20vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#454b75), color-stop(#4f517c), color-stop(#5a5684), color-stop(#655c8b), to(#706192));
    background-image: linear-gradient(to bottom, #454b75, #4f517c, #5a5684, #655c8b, #706192);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 75%;
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: -webkit-transform  0.5s ease;
    transition: -webkit-transform  0.5s ease;
    transition: transform  0.5s ease;
    transition: transform  0.5s ease, -webkit-transform  0.5s ease;
    border: none;
  }
  .nav-links li {
    opacity: 0;
    margin: 1em;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .boxes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .media-links {
    margin-top: .5em;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media screen and (max-width: 425px) {
  .landing {
    display: block;
    text-align: left;
    padding: 25% 5%;
  }
  .landing p {
    margin-top: 15%;
  }
}

@media screen and (max-width: 375px) {
  .work .work-title h1 {
    font-size: 2rem;
  }
  .work .work-title p {
    width: 75%;
  }
  .work .boxes {
    padding: 2em;
  }
  .work .boxes .box {
    margin: 1em 0;
    font-size: 1em;
    text-align: justify;
  }
  .work .boxes .box img {
    height: 150px;
  }
  .work .boxes .box h1 {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .landing h1 {
    font-size: 2em;
    text-align: center;
  }
  .landing p {
    text-align: center;
  }
  .media-links {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    margin: 1em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
          transform: rotate(-45deg) translate(5px, -5px);
}
/*# sourceMappingURL=style.css.map */