@import url("https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#1d3557), color-stop(#273a5f), color-stop(#314066), color-stop(#3b456e), to(#454b75));
  background-image: linear-gradient(to right bottom, #1d3557, #273a5f, #314066, #3b456e, #454b75);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Raleway", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", serif;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 8vh;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.logo {
  color: #E8F1F2;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: "Raleway", serif;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links li {
  list-style: none;
  margin-left: 25px;
  padding: 5px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav-links li:hover {
  border-bottom: 2px solid #E8F1F2;
}

.nav-links a {
  color: #E8F1F2;
  text-decoration: none;
  font-size: 1.2rem;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  border: none;
  border-radius: 20%;
  background-color: white;
  margin: 5px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
    overflow-y: scroll !important;
    position: relative;
  }
  .nav-links {
    position: fixed;
    right: auto;
    height: 80vh;
    border-radius: 15px;
    top: 8vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#454b75), color-stop(#4f517c), color-stop(#5a5684), color-stop(#655c8b), to(#706192));
    background-image: linear-gradient(to bottom, #454b75, #4f517c, #5a5684, #655c8b, #706192);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 75%;
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: -webkit-transform  0.5s ease;
    transition: -webkit-transform  0.5s ease;
    transition: transform  0.5s ease;
    transition: transform  0.5s ease, -webkit-transform  0.5s ease;
    border: none;
  }
  .nav-links li {
    opacity: 0;
    margin: 1em;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
          transform: rotate(-45deg) translate(5px, -5px);
}
/*# sourceMappingURL=style.css.map */