@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#6069d7), color-stop(#6877e0), color-stop(#7185e9), color-stop(#7b92f1), to(#85a0f9));
  background-image: linear-gradient(to right bottom, #6069d7, #6877e0, #7185e9, #7b92f1, #85a0f9);
  background-attachment: fixed;
}

nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #F9FBFF;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-left: 15px;
}

.landing {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing h1 {
  margin: 100px;
  font-size: 50px;
  color: #ae5fce;
}

@media screen and (max-width: 850px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .navbar {
    position: relative;
  }
  .navbar.open {
    display: block;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .navbar.open h1 {
    line-height: 10vh;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    border-radius: 5px;
    background: #fff;
    height: 85vh;
    width: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: circle(100px at 90% -30%);
            clip-path: circle(100px at 90% -30%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
    padding: 0;
  }
  .nav-links.open {
    -webkit-clip-path: circle(1000px at 90% -30%);
            clip-path: circle(1000px at 90% -30%);
    pointer-events: all;
  }
  .nav-links.closing {
    -webkit-clip-path: circle(1000px at 90% -30%);
            clip-path: circle(1000px at 90% -30%);
    pointer-events: all;
  }
  .nav-links li {
    margin: 0;
    padding: 0;
  }
  .nav-links li a {
    color: #626CD9;
  }
  .landing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    -webkit-transition: all 0.3s ease 0.2s;
    transition: all 0.3s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    -webkit-transition: all 0.3s ease 0.4s;
    transition: all 0.3s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    -webkit-transition: all 0.3s ease 0.6s;
    transition: all 0.3s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    -webkit-transition: all 0.3s ease 0.8s;
    transition: all 0.3s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    -webkit-transition: all 0.3s ease 1s;
    transition: all 0.3s ease 1s;
  }
  li.fade {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */