@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Source+Sans+Pro&display=swap')

$light: #F9FBFF
$family-sans-primary: 'Lexend Deca', sans-serif
$family-sans-secondary: 'Source Sans Pro', sans-serif
    
html,
body 
    margin: 0
    padding: 0
    height: 100%
    background-image: linear-gradient(to right bottom, #85a0f9, #8b95f1, #918be8, #977fde, #9c74d3)
    background-attachment: fixed
    scroll-behavior: smooth

.grid-container


header
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 1.5em
    font-family: $family-sans-primary

    a
        color: $light
        text-decoration: none
        font-size: 1.5rem
        text-decoration: none
        margin-left: 50px

        &:hover
                cursor: pointer
    .navbar
        display: flex
        flex-direction: row
        align-self: center
        a
            margin-left: 25px
            color: $light
            text-decoration: none
            font-size: 1rem
            border: 2px solid transparent
            transition: .2s ease-in-out
            &:hover
                border-bottom: 2px solid $light
            &.active
                border-bottom: 2px solid $light

@media screen and (max-width: 1024px)
    .navbar
        a
            margin-left: 15px !important

.arrow-down
    font-size: 50px
    margin: 0 auto
    a
        color: $light
    &:hover
                